.App {
  text-align: center;
}

.abc{
  padding-top: 10px;
  padding-left: 20px;
  margin-left: 20px;
}

.parent{
  list-style: none;
}
.add{
  background-color: aqua;
}
.bcd{
  background-color: orange;
  color: white;
}
.xyz{
  background-color: green;
  color: white;
}
.pqr{
  background-color: red;
  color: white;
}
.child{
  padding-bottom: 10px;
}